CREATE TABLE [dbo].[CountyData](
	[fid] [int] NOT NULL,
	[county_fips] [int] NOT NULL,
	[county_name] [varchar](50) NOT NULL,
	[state_fips] [smallint] NOT NULL,
	[long] [float] NOT NULL,
	[lat] [float] NOT NULL,
	[land_area_sqm] [bigint] NOT NULL
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[OutagesData](
	[fips_code] [int] NOT NULL,
	[customers_out] [int] NOT NULL,
	[run_start_time] [datetime] NOT NULL
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[SocioData](
	[State_FIPS] [smallint] NOT NULL,
	[County_FIPS] [int] NOT NULL,
	[Population] [bigint] NOT NULL,
	[Median_Income] [bigint] NOT NULL,
	[Total_Housing_Units] [bigint] NOT NULL,
	[year] [int] NOT NULL
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[StormEvents](
	[STATE] [varchar](20) NOT NULL,
	[STATE_FIPS] [smallint] NOT NULL,
	[BEGIN_DATE_TIME] [datetime] NOT NULL,
	[END_DATE_TIME] [datetime] NOT NULL,
	[CZ_FIPS] [int] NOT NULL,
	[CZ_TYPE] [char](1) NOT NULL,
	[EVENT_TYPE] [varchar](30) NOT NULL,
	[INJURIES_DIRECT] [smallint] NULL,
	[INJURIES_INDIRECT] [smallint] NULL,
	[DEATHS_DIRECT] [smallint] NULL,
	[DEATHS_INDIRECT] [smallint] NULL,
	[DAMAGE_PROPERTY] [bigint] NULL,
	[DAMAGE_CROPS] [bigint] NULL,
	[MAGNITUDE] [smallint] NULL
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[WeatherData](
	[st_abb] [varchar](2) NOT NULL,
	[st_code] [smallint] NOT NULL,
	[fips] [int] NOT NULL,
	[date] [date] NOT NULL,
	[ppt] [decimal](5, 2) NULL,
	[tmax] [decimal](5, 2) NULL,
	[tmin] [decimal](5, 2) NULL,
	[tavg] [decimal](5, 2) NULL
) ON [PRIMARY]
GO
